<% layout("/layouts/boilerplate") -%>

<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Create New Listing</h3>
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="title"
            name="listing[title]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Title cant be empty</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            placeholder="description"
            class="form-control"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Description cant be empty</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input
            type="file"
            class="form-control"
            name="listing[image]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="row">
          <div class="mb-3 col-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              placeholder="price"
              name="listing[price]"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Price has to be valid</div>
          </div>
          <div class="mb-3 col-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              class="form-control"
              placeholder="country"
              name="listing[country]"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Country cant be empty</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            class="form-control"
            placeholder="location"
            name="listing[location]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Location cant be empty</div>
        </div>

        <button class="btn btn-dark add-btn mt-1">Add</button>
      </form>
    </div>
  </div>
</body>
